name: ci
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: squidfunk/mkdocs-material:latest
      options: --entrypoint /bin/sh

    steps:
      - uses: actions/checkout@v4

      - name: Configure Git & Install Dependencies
        run: |
          git config --global user.name github-actions[bot]
          git config --global user.email 41898282+github-actions[bot]@users.noreply.github.com

          git config --global --add safe.directory "*"

          pip install --no-cache-dir mkdocstrings[python]

      - name: Deploy documentation
        run: mkdocs gh-deploy --force
